html,
body,
#map {
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: 'arial';
}

#controls-container {
  background-color: #ffffff;
  color: #275582;
  padding: 10px;
}

#controls-container.top-left {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
}

#controls-container h3 {
  margin-top: 12px;
  margin-bottom: 12px;
}

#persona-dropdown {
  text-indent: 3px;
  padding: 5px;
  width: 100%;
}

#persona-sliders-container {
  padding: 5px;
}

#persona-sliders-container input[type='range'] {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  color: #275582;
}
