html,
body,
#map {
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: 'arial';
  font-size: 17px;
}

#menu-container {
  background-color: #ffffff;
  color: #275582;
  padding: 10px;
  border-radius: 5px;
}

#menu-container.top-left {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 1000;
  padding: 0;
}

#menu-container h3 {
  margin-top: 12px;
  margin-bottom: 12px;
}

#persona-container {
  padding-left: 10px;
  padding-right: 10px;
}

#persona-dropdown {
  text-indent: 3px;
  padding: 5px;
  width: 100%;
}

#persona-sliders-container {
  padding: 5px;
  border: 2px solid red;
}

#persona-sliders-container input[type='range'] {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  color: #275582;
}

#search-wrapper {
  border-bottom: 5px solid #c4db0d;
  width: 100%;
}

#search-container {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border: 10px solid #275582;
  border-top: 10px solid #275582;
  white-space: nowrap;
}

#search-box {
  width: 88%;
}

#search-input {
  color: #275582;
  width: 100%;
  font-size: 14px;
  border: none;
  outline: none;
}

#search-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
}

#warning {
  color: red;
}
